section {
    position: fixed;
    top: 0;
    left: auto;
    background: #ffffff;
    width: 100vw;
    height: 100vh;
    z-index: 21;
    padding: 1rem;
}

@media screen and (min-width: 769px) {
    section {
        max-width: 600px;
        height: calc(100vh - 4rem);
        top: 2rem;
        margin: 0 auto;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

.close {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 3rem;
    height: 3rem;
    background: #fff;
}

span {
    width: 100%;
    position: absolute;
    height: 4px;
    border-radius: 2px;
    background: var(--primary);
    transform: rotate(45deg);
}

span:first-of-type {
    transform: rotate(-45deg);
}