section{
    position: fixed;
    top: 0;
    background: #ffffff;
    width: 100vw;
    height: 100vh;
    z-index: 21;
    overflow: scroll;
}

.close{
    width: 4rem;
    height: 4rem;
}

span{
    width: 100%;
    position: absolute;
    height: 4px;
    border-radius: 2px;
    background: var(--primary);
    transform: rotate(45deg);
}

span:first-of-type{
    transform: rotate(-45deg);
}
