<section>
    <h1>CONHEÇA NOSSAS UNIDADES</h1>
    <div class="galeria">
        <div class="item"><img src="assets/lojas/itauna.jpg" alt="">
            <p>
                <strong>Itaúna</strong>/MG
            </p>
        </div>
        <div class="item"><img src="assets/lojas/betim.jpg" alt="">
            <p>
                <strong>Betim</strong>/MG
            </p>
        </div>
        <div class="item"><img src="assets/lojas/bh.jpg" alt="">
            <p>
                <strong>Belo Horizonte</strong>/MG
            </p>
        </div>
        <div class="item"><img src="assets/lojas/bom-despacho.jpg" alt="">
            <p>
                <strong>Bom Despacho</strong>/MG
            </p>
        </div>
        <div class="item"><img src="assets/lojas/carvalhos.jpg" alt="">
            <p>
                <strong>Carvalhos</strong>/MG
            </p>
        </div>
        <div class="item"><img src="assets/lojas/igarape.jpg" alt="">
            <p>
                <strong>Igarapé</strong>/MG
            </p>
        </div>
        <div class="item"><img src="assets/lojas/lagoa-santa.jpg" alt="">
            <p>
                <strong>Lagoa Santa</strong>/MG
            </p>
        </div>
        <div class="item"><img src="assets/lojas/nova-serrana.jpg" alt="">
            <p>
                <strong>Nova Serrana</strong>/MG
            </p>
        </div>
        <div class="item"><img src="assets/lojas/para-minas.jpg" alt="">
            <p>
                <strong>Pará de Minas</strong>/MG
            </p>
        </div>
    </div>
    <button (click)="formulario()">SEJA FRANQUEADO</button>
</section>